body {
    background-color: beige;
    font-family: 'Quantico', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0; /* margin + height: 100hv estoura o limite do height na valor da margin*/
}   

main {
    width: 100%;
    text-align: start;
}

main h1 {
    padding-left: 20px;
    margin-top: 60px;
}

#input {
    height: 30px;
    margin: 0 10px;
    color: midnightblue;
}

#output {
    margin: 0 20px;
}

#findButton {
    font-size: large;
    color: aliceblue;
    background-color: rgb(5, 5, 85);
    margin: 50px auto;
    padding: 10px 0;
    width: 70%;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media screen and (min-width: 480px) {
   
    
    main {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    
    main h1 {
        font-size: 60px;
        margin: 80px 0 40px 0;
    }
    
}